body
{
	background-image: url('/img/light_bg.gif');
	background-repeat: repeat;
}

.wrapper
{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.subnav
{
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 3px 24px 5px 24px;

    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.subnav-location
{
    float: right;
    padding: 6px 24px 0 0;
    line-height: 30px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
}

.subnav-location select
{
    color: #666;
}


ul#app-subnav
{
    padding: 9px 0 0 0;
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0;
}

ul#app-subnav:after
{
    content: ""; clear: both; display: block;
}

ul#app-subnav li
{
    float: left;
    padding: 0 4px;
}

ul#app-subnav li.active a
{
    background-color: #80b500;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; /* future proofing */
}


ul#app-subnav li.active:hover a
{
    color:  #ffffff;
}

ul#app-subnav li:hover a
{
    color:  #80b500;
    text-decoration: none;
}

ul#app-subnav li a
{
    font-size: 14px;
    padding: 7px 10px 6px 10px;
    margin-right: 14px;
    color: #000000;
}

/**** Content Header ****/
.content-header-row
{
    margin-top: 5px;
    border-bottom: 2px solid #e3dfdc;
    background-color: #ffffff;
    background-image: url('/img/block_gradient.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

.content-header-row div, .content-header-row form,  .content-header-row h1
{
    display: inline-block;
}

.header-btn-cell
{
    border-left: 1px dotted #bbbbbb;
    padding-left: 15px;
    margin: 0;
    vertical-align: top;
}

.header-btn-cell .btn
{
    font-size: 14px;
    color: #787878;
}

.header-right-cell
{
    text-align: right;
    white-space: nowrap;
}

.content-block h1
{
    font-size: 24px;
    padding-right: 10px;
}

.content-block h2
{
    font-size: 15px;
    padding-bottom: 1px;
}

.content-block h1, .content-block h2
{
    text-transform: uppercase;
    color: #80b500;
    line-height: 27px;
    margin: 0;
    padding-left: 20px;
}

.content-block h3
{
    font-size: 15px;
    color: #999999;
    margin-top: 5px;
    margin-bottom: 10px;
}

/**** Content Locations ****/
.wtm-tag, .wtm-tag-active
{
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 5px;

    padding: 6px 5px 5px 5px;
    text-decoration: none;

    vertical-align: middle;
    line-height: 18px;
    height:18px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 5px;
    display: inline-block;

    cursor: pointer;
}

.wtm-tag
{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #999;
}

.wtm-tag-active
{
    background: none repeat scroll 0 0 #80b500;
    border: 1px solid #999;
    color: #fff;
}

.wtm-locations
{
    margin: 0 10px 0 30px;
}

.wtm-locations div.wtm-location
{
    background-color: #f6f6f6;
    /*min-height: 150px;*/
    padding: 8px;
    margin: 10px 20px 15px 0;
    height: 114px;
    line-height: normal;
    overflow-y: auto;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; /* future proofing */

    -webkit-box-shadow: 3px 3px 6px #ccc;
    -moz-box-shadow: 3px 3px 6pxx #ccc;
    box-shadow: 3px 3px 6px #ccc;
}

.wtm-locations div.wtm-location-title {
    margin-left: 70px;
}

.wtm-locations h3, .popover-inner h3
{
    line-height: normal;
    margin: 0 0 3px 0;
    font-size: 16px;
}

.wtm-locations p
{
    margin: 0 0 3px 0;
    font-size: 13px;
}

.wtm-locations p strong
{
    font-size: 13px;
}

.wtm-locations p span.descr
{
    padding-top: 5px;
    display: inline-block;
}

.wtm-locations img
{
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    border: 0;
    width: 60px;
}

.wtm-locations a
{
    color: #80b500;
}

.myTag
{
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 3px;
    text-decoration: none;

    vertical-align: middle;
    line-height: 16px;
    height:16px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 5px;
    display: inline-block;

    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #80b500;
}

.myTag a
{
    color: #336600;
    font-weight: bold;
    font-size: 16px;
}

/**** Content Users ****/
.wtm-users
{
    margin: 0 10px 0 30px;
    /*border-top: 1px dotted #ccc;*/
}

.wtm-users div.wtm-user
{
    background-color: #f6f6f6;
    /*border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;*/
    min-height: 114px;
    padding: 14px 10px 20px 10px;
    margin: 10px 20px 15px 0;
    line-height: normal;
    /*overflow-y: auto;*/
    position: relative;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; /* future proofing */

    -webkit-box-shadow: 3px 3px 6px #ccc;
    -moz-box-shadow: 3px 3px 6px #ccc;
    box-shadow: 3px 3px 6px #ccc;
}

.wtm-user img.profile_pic
{
    float: left;
    margin-right: 12px;
    margin-left: 7px;
    border: 0;
    width: 60px;
    height: 60px;
}

.wtm-grid
{
    margin: 0 0 20px; padding: 0;
    list-style-type: none;
}

.wtm-grid li div
{
    display: inline-block;
    padding: 8px;
    vertical-align: top;
}

.wtm-grid li.header
{
    background-color: #dedede;
    font-weight: bold;
}

.wtm-new-users li div
{
    width: 30%;
}

.wtm-roles
{
    border-top: 1px solid #dedede;
}

.wtm-roles li
{
   border-bottom: 1px solid #dedede;
}


.wtm-roles li div.title
{
    width: 30%;
    color: #80b500;
    /*font-family: 'ProximaNova-Bold', Arial;*/
    font-weight: bold;
}

.wtm-roles li div.second
{
    width: 60%;
}


.paging {
    line-height: 18px;
    white-space: nowrap;
    letter-spacing: 0;
}
.paging button
{
    display: inline-block;
    border: 1px solid #999;
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
    margin-left: -1px;

    background-image: -moz-linear-gradient(top,  #fefefe 0%, #E9E9E9 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #fefefe 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #fefefe 0%,#E9E9E9 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fefefe 0%,#E9E9E9 100%); /* IE10+ */
    background-image: linear-gradient(top,  #fefefe 0%,#E9E9E9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#E9E9E9',GradientType=0 ); /* IE6-9 */
}

.paging button.active
{
   color: #106DB0;
}

.paging button.next
{
    background-image: url(/img/icon-next.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 26px;
}

.paging button.next-disabled
{
    background-image: url(/img/icon-next-disabled.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 26px;
    border: 1px solid #ccc;
}

.paging button.prev
{
    background-image: url(/img/icon-prev.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 26px;
}

.paging button.prev-disabled
{
    background-image: url(/img/icon-prev-disabled.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 26px;
    border: 1px solid #ccc;
}

/**** Popover ****/
.popover-inner
{
    padding: 10px;
    font-size: 13px;
}

.popover-inner form
{
    margin: 10px 0;
}

/**** Bootstrap-tags styles ****/

.tag-list
{
    position: relative;
    height: auto !important;
    width: 250px;
}
.tag-list .tag-data
{
    display:none;
}
input[type=text].tags-input
{
    width: 175px;
    padding: 2px 4px;
    margin-top: 10px;
    margin-bottom: 0;
}
.tag-list button
{
    position: absolute;
    right: 10px; top: -28px;
}
.tag-list .tags
{
    width: inherit;
    padding-top: 20px;
}
.tag-list .tag
{
    /*font-family: 'ProximaNova-Regular';*/
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 3px;
    text-decoration: none;

    vertical-align: middle;
    line-height: 16px;
    height:16px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 5px;
    display: inline-block;

    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #80b500;
}
.tag-list .tag a {
    color: #336600;
    font-weight: bold;
    font-size: 16px;
    /*font-family: 'ProximaNova-Regular';*/
    cursor: pointer;
    margin-left: 5px;
}

/**** Bootstrap dropdown with checkbox ****/
.modal .btn-group .btn-last
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    webkit-border-top-right-radius: 4px;
    webkit-border-bottom-right-radius: 4px;

    -moz-border-top-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}

input[type=text].table-input, input[type=email].table-input
{
    border: none;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0px;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    webkit-border-radius: 0;
    padding: 2px;
}
textarea.table-textarea
{
    margin-bottom: 0px;
}

/****Row Icons****/
.row-icons
{
    padding-top: 10px;
    padding-right: 5px;
    position: absolute;
}

.row-icons .app_icon
{
    width: 20px;
}

/****Welcome Page****/
.welcome-text
{
    color: #999;
    padding: 25px 0;
    /*font-family: 'ProximaNova-Regular';*/
    font-size: 20px;
    line-height: 24px;
}

.welcome-text h1
{
    font-size: 58px; /**/
    /*font-family: 'ProximaNovaT-Thin';*/
    font-weight: 100;
    text-transform: none;
    margin-bottom: 16px;
    padding-left: 0;
    line-height: 55px;

}

.welcome-button
{
    width: 100%;
    margin-top: 35px;
    font-size: 22px;
    padding: 15px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.welcome-box
{
    padding: 15px 25px;
}

.welcome-app
{
    background-color: #fcfcfc;

    color: #999;
    margin-bottom: 14px;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
    padding: 20px;
    min-height: 190px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
               -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
                    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.welcome-app img
{
	margin-left: 15px;
	margin-bottom: 15px;
}



.welcome-app h2
{
    color: #80b500;
    font-size: 19px;
    text-transform: none;
    padding-left: 0;
    margin-bottom: 15px;
}

.welcome-app h2 span
{
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;

}

.welcome-app img
{
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px #ccc;
    -moz-box-shadow: 0 5px 10px #ccc;
    box-shadow: 0 5px 10px #ccc;
}

.welcome-app ul li a
{
    color: #106DB0;
}

.wizard-announce
{
    border-bottom: 1px solid #ccc;
    padding: 10px 15px 20px;
    line-height: normal;
}

.wizard-announce h3
{
    font-size: 22px;
}

.wizard-announce p
{
    margin-top: -10px;
}

.wizard-nav
{
    margin: 0; padding: 0;
}

.wizard-nav li
{
    display: inline-block;
    font-size: 18px;
    /*font-family: 'ProximaNova-Bold';*/
    font-weight: bold;
    padding: 10px 0 10px 15px;
    color: #bcbcbc;
}


.wizard-nav li.active
{
    color: #80B501;
}

.wizard-nav li span
{
    width: auto;
    height: auto;
    line-height: inherit;
    /*vertical-align: baseline;*/
    font-size: 22px;
}

.wizard-nav li span.wizard-step-number
{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 16px;
    /*font-family: 'ProximaNova-Regular';*/
    color: #fff;
    line-height: 27px;
    text-align: center;
    background: #bcbcbc;
    display: inline-block;
    margin-top: -1px;
}

.wizard-nav li.active span.wizard-step-number
{
    background: #80B501;
}

.wizard-step h1
{
    background-color: #80B501;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 20px;
}

.wizard-step .add-image
{
    margin-left: 0;
}

.modal .wizard-step .control-group
{
    margin-bottom: 15px;
}

.modal .wizard-step .control-group.margin-small label
{
    width: 80px;
}

.modal .wizard-step .control-group.margin-small .controls
{
    margin-left: 90px;
}

.wizard-step p
{
    padding: 5px 0 10px;
}

.steps
{
   list-style-type: none;
    margin-left: 0;
}

.steps span.step-number
{
    background-color: #80B501;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 3px 15px;
    display: inline-block;
    margin: 5px 10px 0 0;
    width: 40px;
    vertical-align: top;
}

.steps .step-content {
    display: inline-block;
}

.step-content .list li
{
    list-style-type: none;
    display: inline-block;
    width: 40%;
}

.step-content div[wtm-multiple-dropdown] {
    display: inline-block;
}

.step-content div[wtm-multiple-dropdown] .dropdown-toggle {
    padding: 2px 10px;
    margin-bottom: 10px;
    vertical-align: top;
    width: 140px;
}

.step-content div[wtm-multiple-dropdown] .dropdown-nav {
    padding: 0 10px;
    width: 140px;
}

/****Dropdown-toggle background****/
.btn-group
{
    position: relative;
}

.btn-group .dropdown-toggle
{
    padding: 2px 0 1px;
    outline: 0;
}

.btn-group .app_icon
{
    font-size: 19px;
    vertical-align: top;
    margin-top: 1px;
}

.file-upload-block
{
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    margin-bottom: 7px;
    overflow-y: hidden;
    padding: 4px 4px 4px 8px;
    max-width: 266px;
    max-height: 22px;
}

.invites .pagination {
    text-align: right;
    min-width: 240px;
}

.pagination {
    margin: 0;
}

.app-pic {
    border-radius: 4px;
    margin: 0 10px 10px 0;
    width: 60px;
}

.app-list {
    margin: 20px 10px 0 30px;
}

.app-list h2 {
    text-transform: none;
    font-size: 18px;
    padding-left: 0;
}

.app-list-item {
    background: none repeat scroll 0 0 #f6f6f6;
    border-radius: 6px;
    box-shadow: 3px 3px 5px #ccc;
    font-size: 14px;
    padding: 15px;
    margin: 10px 20px 15px 0;
    overflow: hidden;
}

.app-list-item-title {
    font-size: 16px;
}

.progress {
    width: 150px;
    height: 16px;
    margin-bottom: 0;
}

.progress .bar {
    background-color: #80b500;
    background-image: none;
}

/****Day Parts****/
.day-parts-list {
    margin: 20px;
    padding: 0;
}

.day-parts-list li {
    list-style-type: none;
    border-top: 1px solid #f1f1f1;
    padding: 15px 15px 5px;
    line-height: 40px;
}

.day-parts-list li strong {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.day-parts-list li:last-child {
    border-bottom: 1px solid #f1f1f1;
}

.day-parts-list li input[type=text] {
    margin-right: 40px;
}

.day-parts-list li select {
    margin-right: 20px;
    width: 100px;
}

.day-parts-list-add {
    padding-left: 30px;
}

.day-parts-list [class^="icon-"] {
    cursor: pointer;
}

.day-disabled {
    color: #aaa;
}

.bordered-content {
    border-bottom: 1px dotted #ccc;
    padding: 15px 20px;
}

.bordered-content form {
    margin-bottom: 0;
}

/* Reports */
.reports .table td {
    padding: 2px 4px;
}

.reports [class^="icon-"], .reports [class*=" icon-"] {
    height: auto;
    width: auto;
    font-size: 19px;
    line-height: inherit;
}

.reports [class^="icon-"]:before, .reports [class*=" icon-"]:before {
    width: auto;
    margin: 0;
}

.reports .btn-group.report-types {
    margin-bottom: 20px;
}

.reports .btn-group.report-types .btn {
    padding: 4px 6px;
}

.reports .btn-group .dropdown-toggle {
    padding: 4px 12px;
    width: 194px;
    z-index: 2;
    overflow: hidden;
}

.reports .btn-default:hover,
.reports .btn-default:focus,
.reports .btn-default:active,
.reports .btn-default.active {
    color: #8bc12b;
    background-color: #fff;
    background-image: none;
}

.reports .btn-default {
    color: #999;
}

.reports .dropdown-menu {
    padding: 4px 7px;
    width: 204px;
    z-index: 3000;
    top: 26px;

    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.reports .form-search {
    margin: 7px 0;
}

.reports .form-search input[type="text"] {
    height: 18px;
    width: 190px;
}

.reports .form-search .icon-search{
    height: 20px;
    width: 20px;
    font-size: 16px;
    color: #999;
}

.reports .form-search ::-webkit-input-placeholder { font-style: italic; font-size: 12px; }
.reports .form-search ::-moz-placeholder { font-style: italic; font-size: 12px; }
.reports .form-search :-ms-input-placeholder { font-style: italic; font-size: 12px; }
.reports .form-search input:-moz-placeholder { font-style: italic; font-size: 12px; }

ul.dropdown-nav li
{
    list-style: none;
    display: block;
    padding: 5px 3px;
}

ul.dropdown-nav li input[type="checkbox"] {
    margin-right: 10px;
}

.location-modal ul.dropdown-nav {
    padding-right: 10px;
    max-height: 330px;
    overflow-y: auto;
}

.reports ul.dropdown-nav {
    padding-right: 10px;
    max-height: 330px;
    overflow-y: auto;
}

.reports .input-append .active {
    background-color: #fff;
    border: 1px solid #ccc;
}

.reports .table-striped tbody>tr>th{
    background-color: #dedede;
}

/* Reports Preview*/
.report-preview .btn-group .btn {
    padding: 3px;
    color: #999;
}
.report-preview .btn-default:hover, .report-preview .btn-default:focus,
.report-preview .btn-default:active, .report-preview .btn-default.active,
.report-preview .open .dropdown-toggle.btn-default {
    color: #8bc12b;
    background-color: #fff;
    border-color: #adadad;
}

.report-preview .k-chart {
    height: 300px;
}

.report-preview .headline {
    border: 2px solid #d9d9d9;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    background-color: #fff;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9));
    background-image: -moz-linear-gradient(top, #fff, #f9f9f9);
    background-image: -ms-linear-gradient(top, #fff, #f9f9f9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f9f9f9));
    background-image: -webkit-linear-gradient(top, #fff, #f9f9f9);
    background-image: -o-linear-gradient(top, #fff, #f9f9f9);
    background-image: linear-gradient(top, #fff, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f9f9f9', GradientType=0);

    overflow: hidden;
    padding: 15px;
    /*width: 50%;*/
}
.report-preview .headline h2 {
    font-size: 40px;
    color: #333;
}

.report-preview .headline h3 {
    font-size: 80px;
    text-align: center;
    color: #106db0;
    border-bottom: 0;
    margin-top: 0;
}

.report-preview .headline h4 {
    font-weight: bold;
    font-size: 30px;
}

.report-preview .headline h3.red, .report-preview .headline h4.red {
    color: #CD151E;
}

.report-preview .headline h3.green, .report-preview .headline h4.green {
    color: #639514;
}

.report-preview  .headline-chart-wrapper {
    line-height: 100px;
    text-align: right;
}

.report-preview .arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #639514;
    display: inline-block;
}

.report-preview .arrow-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #CD151E;
    display: inline-block;
}

/* Report Creator */
.report-creator .group {
    border: 1px solid #dcd8d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

    border-radius: 6px;
    margin: 5px;

    -webkit-box-shadow: 3px 3px 6px #ccc;
    -moz-box-shadow: 3px 3px 6pxx #ccc;
    box-shadow: 3px 3px 6px #ccc;
}

.report-creator .group-item {
    display: inline-block;
    border-right: 1px solid #dcd8d4;
    height: 150px;
    padding: 0; margin: 0;
}

.report-creator .group-item:last-child {
    border-right: none;
}

.report-creator .group-item-inner {
    padding: 10px;
    line-height: 18px;
}

.report-creator .group-item h4 {
    display: inline-block;
    color: #bcbcbc;
}

.report-creator .group-item h4 span {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    font-size: 16px;
    color: #fff;
    line-height: 27px;
    text-align: center;
    background: #bcbcbc;
    display: inline-block;
    margin-top: -1px;
}

.report-creator .group-item.active h4 {
    color: #80b500;
}

.report-creator .group-item.active h4 span {
    color: #fff;
    background: #80b500;
}

.report-creator .equal-height-container {
    border-top: 1px solid #dcd8d4;
    margin-top: 10px;
}

.report-creator .sidebar {
    border-right: 1px solid #dcd8d4;
    margin-left: 20px;
}

.report-creator .sidebar .bordered-content {
    border-bottom: 3px solid #dcd8d4;
    padding: 0 3px;
}

.report-creator .nav-tabs {
    border-bottom: 3px solid #639fca;
    margin: 20px 0 0 20px;
}

.report-creator .nav-tabs li {
    margin-bottom: 0;
}

.report-creator .nav-tabs>li>a {
    padding: 5px 12px 2px;
    background-color: #e4edf4;
    border: none;
}

.report-creator .nav-tabs>.active>a, .report-creator .nav-tabs>.active>a,
.report-creator .nav-tabs>.active>a:hover, .report-creator .nav-tabs>.active>a:focus,
.report-creator .nav-tabs>li>a:hover {
    background-color: #639fca;
    color: #fff;
    border: none;
}

.report-creator .list {
    list-style-type: none;
    margin: 20px 0;
}

.report-creator .list ul {
    list-style-type: none;
    margin-left: 20px;
}

.report-creator .list .icon-right-dir, .report-creator .list .icon-down-dir {
    color: #ccc;
    vertical-align: top;
    cursor: pointer;
}

.report-creator .list input {
    margin-top: 0;
}

.report-creator .list li {
    font-weight: bold;
    padding: 2px 5px 1px;
}

.report-creator .list li [class^="icon-"], .report-creator .list li [class*=" icon-"] {
    font-size: 14px;
}

.report-creator .list ul li {
    font-weight: normal;
    margin-bottom: 2px;
}

.report-creator .list ul li.active {
    background-color: #efefef;
    border-radius: 6px;
}

.report-creator .list ul ul ul {
    margin-left: 0;
}

.report-creator .list ul .list-group {
    border-bottom: 1px solid #ccc;
}

.report-creator .list ul .formatting {
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding: 5px 0 5px 15px;
}

.report-creator .list ul .formatting [class^="icon-"], .report-creator .list ul .formatting [class*=" icon-"] {
    color: #999;
}

.report-creator .tag-list .tags {
    padding-top: 0;
}

.report-creator .tag {
    background-color: #e4edf4;
    border: none;
    color: #666;
    height: auto;
}

.report-creator .tag a {
    color: #666;
}

.report-creator .active .tag {
    background-color: #639fca;
    color: #fff;
}

.report-creator .active .tag a {
    color: #fff;
}

.reports .red {
    color: #ff0000;
}


/****Overwrite Daterange picker****/
.daterangepicker.dropdown-menu .ranges .range_inputs {
    display: none;
}

.daterangepicker.dropdown-menu .ranges li {
    font-size: 14px;
    background: none;
    border: none;
    color: inherit;
    padding: 3px 2px;
    margin-bottom: 2px;
    border-radius: 0;
    cursor: pointer;
}

.daterangepicker.dropdown-menu .ranges li.active, .daterangepicker.dropdown-menu .ranges li:hover {
    background: #C7DBE9;
    border: none;
    color: inherit;
}

.daterangepicker.dropdown-menu .icon-arrow-left:before { content: '\e80f'; }
.daterangepicker.dropdown-menu .icon-arrow-right:before { content: '\e810'; }

@media print {
	header, nav, footer {
		display: none;
	}

	.content-block {
		border: none;
	}
}

/**** Dashboards styles ****/

ul#dashboards-subnav, ul#dashboards-subnav-editable
{
    padding: 9px 0 7px 0;
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0;
}

ul#dashboards-subnav:after, ul#dashboards-subnav-editable:after
{
    content: ""; clear: both; display: block;
}

ul#dashboards-subnav li
{
    float: left;
    padding: 0 4px;
    line-height: 32px;
}

ul#dashboards-subnav li.active a
{
    background-color: #80b500;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    text-decoration: none;
}


ul#dashboards-subnav li.active:hover a
{
    color:  #ffffff;
    text-decoration: none;
}

ul#dashboards-subnav li:hover a
{
    color:  #80b500;
    text-decoration: none;
}

ul#dashboards-subnav li a
{
    font-size: 14px;
    padding: 7px 10px 6px 10px;
    margin-right: 14px;
    color: #000000;
    text-decoration: none;
}

ul#dashboards-subnav-editable > li
{
    float: left;
    padding: 0 4px;
    position: relative;
    line-height: 32px;
}

ul#dashboards-subnav-editable > li div
{
    display: inline;
    font-size: 14px;
    padding: 7px 10px 6px 10px;
    margin-right: 14px;
    color: #000000;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 500;
    position: relative;
}

ul#dashboards-subnav-editable li.active div
{
    color:  #80b500;
}

ul#dashboards-subnav-editable > li.open div
{
    background-color: #ccc;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

ul#dashboards-subnav-editable li.active.open div
{
    color:  #ffffff;
}

ul#dashboards-subnav-editable li div.not-editable {
    cursor: default;
}

ul#dashboards-subnav-editable li div .dashboard-nav-name.hidden-dashboard {
    opacity: 0.7;
}

ul#dashboards-subnav-editable .dropdown-menu {
    top: 28px;
    left: 4px;
    z-index: 501;
    -webkit-border-radius: 6px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 6px;
    -moz-border-radius-topleft: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    width: 100%;
}

ul#dashboards-subnav-editable .dropdown-menu .divider {
    margin: 0px;
}

ul#dashboards-subnav-editable > li div .dashboard-nav-drag-handle {
    color: #333;
    display: inline-block;
    cursor: move;
    width: 8px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: -240px 0;
    background-repeat: no-repeat;
}

ul#dashboards-subnav-editable.droppable {
    background: #C3FDB8;
}

ul#dashboards-subnav-editable .dashboard-nav-placeholder
{
    float: left;
    padding: 0 4px;
    position: relative;
    width: 110px;
    height: 32px;
    display: list-item;
    border: 1px dotted #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#dashboard-controls {
    padding: 10px 0px;
}

#dashboard-controls .btn-small {
    padding: 2px 6px;
}

#dashboard-controls [class^="icon-"]:before, [class*=" icon-"]:before {
    margin: 0px;
}

#dashboard-controls .btn-small [class^="icon-"], #dashboard-controls .btn-small [class*=" icon-"] {
    margin: 0px;
    margin-top: 1px;
}

#dashboard-controls div.spacer {
    width: 1px;
    height: 25px;
    background: #ddd;
    margin-right: 25px;
}

.text-right {
    text-align: right;
}

/* COLOR SELECTOR DIRECTIVE */
log-select-color {
    display: block;
    overflow: hidden;
    float: left;
    margin-left: 5px;
}

.color-selector .button, .color-selector .selector {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.color-selector .button {
    padding: 0 4px;
    width: 50px;
}
.color-selector .selector {
    padding: 6px;
    width: 132px;
    overflow: hidden; /* clearfix */
    position: absolute;
    background-color: #fff;
    z-index: 1;
}
.color-selector .color {
    display: block;
    border: 1px solid #ccc;
    margin: 3px;
    border-radius: 4px;
}
.color-selector .button .color {
    width: 20px;
    height: 20px;
}
.color-selector ul {
    margin: 0;
    padding: 0;
}
.color-selector ul li {
    list-style-type: none;
}
.color-selector .selector .color {
    width: 18px;
    height: 18px;
    float: left;
}
.color-selector .button .color:after {
    display: block;
    content: "";
    background: #808080;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-top-color: #808080;
    position: relative;
    top: 9px;
    left: 31px;
}
/******************************/

.btn-group .dropdown-toggle.button-as-dropdown {
    background-color: #fff;
    background-image: none;
    padding: 4px 8px;
}

.btn-group .red-list-item {
    color: #ff0000 !important;
}

.btn-group .dark-list-item {
    color: #000 !important;
}

.location-modal .dropdown-menu {
    padding-left: 10px;
}

.location-modal .dropdown-nav ul {
    margin-left: 15px;
}

.location-modal .dropdown-nav a {
    color: #333;
}

.location-modal .form-search {
    margin: 10px 0;
}

.location-modal .form-search input {
    width: 180px;
}