@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('/assets/webfonts/fontello.eot?43192912');
  src: url('/assets/webfonts/fontello.eot?43192912#iefix') format('embedded-opentype'),
       url('/assets/webfonts/fontello.woff?43192912') format('woff'),
       url('/assets/webfonts/fontello.ttf?43192912') format('truetype'),
       url('/assets/webfonts/fontello.svg?43192912#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43192912#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-lightbulb:before { content: '\e824'; } /* '' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-star-half:before { content: '\e701'; } /* '' */
.icon-user:before { content: '\f464'; } /* '' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-help-circle:before { content: '\e704'; } /* '' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-home-1:before { content: '\e807'; } /* '' */
.icon-lock-1:before { content: '\e805'; } /* '' */
.icon-pin:before { content: '📌'; } /* '\1f4cc' */
.icon-eye-1:before { content: '\e801'; } /* '' */
.icon-tag-1:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-bookmark-1:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e814'; } /* '' */
.icon-print:before { content: '\e823'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-bell-alt:before { content: '\e825'; } /* '' */
.icon-attention-1:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e81f'; } /* '' */
.icon-cog-1:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-calendar-1:before { content: '\e806'; } /* '' */
.icon-clock-1:before { content: '\e809'; } /* '' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */
.icon-down-dir:before { content: '\e822'; } /* '' */
.icon-up-dir:before { content: '\e821'; } /* '' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-left-open-1:before { content: '\e80f'; } /* '' */
.icon-right-open-1:before { content: '\e810'; } /* '' */
.icon-left:before { content: '\e826'; } /* '' */
.icon-right-1:before { content: '\e827'; } /* '' */
.icon-right-circled-1:before { content: '\f0a9'; } /* '' */
.icon-font:before { content: '\e779'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-off:before { content: '\e78e'; } /* '' */
.icon-list-alt:before { content: '\e790'; } /* '' */
.icon-barcode:before { content: '\e792'; } /* '' */
.icon-check:before { content: '\2611'; } /* '☑' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-chart-bar:before { content: '\f4ca'; } /* '' */
.icon-key:before { content: '\f511'; } /* '' */
.icon-money:before { content: '\e81d'; } /* '' */
.icon-building:before { content: '\e81b'; } /* '' */
.icon-smile:before { content: '\e815'; } /* '' */
.icon-frown:before { content: '\e816'; } /* '' */
.icon-meh:before { content: '\e817'; } /* '' */
.icon-facebook-squared:before { content: '\e819'; } /* '' */
.icon-gplus-squared:before { content: '\e818'; } /* '' */
.icon-twitter-squared:before { content: '\e81a'; } /* '' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-user-1:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\f465'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-info-circle-1:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-link:before { content: '\f517'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-bookmark:before { content: '\f516'; } /* '' */
.icon-download:before { content: '\e820'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-bell:before { content: '\f514'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-doc-text:before { content: '\f4c4'; } /* '' */
.icon-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
.icon-clock:before { content: '\f554'; } /* '' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-window:before { content: '\e74e'; } /* '' */
.icon-right-circled:before { content: '\e75a'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-left-open-big:before { content: '\e811'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-top-list:before { content: '\f3c6'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-monitor:before { content: '\f4bb'; } /* '' */
.icon-mobile:before { content: '\f4f1'; } /* '' */
.icon-globe:before { content: '\d30d'; } /* '팍' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-brush:before { content: '\e82a'; } /* '' */
.icon-credit-card:before { content: '\e81c'; } /* '' */
.icon-flow-tree:before { content: '\e80b'; } /* '' */
.icon-wrench:before { content: '\f527'; } /* '' */
.icon-chart:before { content: '\f4c8'; } /* '' */
.icon-puzzle:before { content: '\e7b6'; } /* '' */
.icon-ok-1:before { content: '\e80c'; } /* '' */
.icon-cancel-1:before { content: '\e80d'; } /* '' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-doc-1:before { content: '\e730'; } /* '' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-list:before { content: '\e765'; } /* '' */
.icon-chart-pie:before { content: '\e828'; } /* '' */
.icon-hash:before { content: '\23'; } /* '#' */
.icon-article-alt:before { content: '\e829'; } /* '' */
.icon-commerical-building:before { content: '\e81e'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-doc-new:before { content: '\e812'; } /* '' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-up:before { content: '\e82b'; } /* '' */
.icon-cancel-circle:before { content: '\e82c'; } /* '' */