html, body
{
	height: 100%;
    font-size: 14px;
    line-height: 20px;
}

html, header, body, input, select, .btn, textarea
{
	font-family: 'ProximaNova', Arial;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'ProximaNova', Arial;
    font-weight: normal;
    line-height: normal;
}


h4.border-btm {
    border-bottom: 1px solid #d9d9d9;
}

a {
	color: #2070a8;
}

a:hover {
	text-decoration: none;
	color: #5ea3d3;
    cursor: pointer;
}

/*strong, b, .bold
{
	font-weight: normal;
	font-family: 'ProximaNova-Bold';
}*/

.capitalize {
    text-transform:capitalize;
}

small {
    font-size: 85%;
}

.n13 {
    font-size: 13px;
}

[class^="icon-"], [class*=" icon-"] {
	background-image: none;
}

input[type="text"].input-line, input[type="email"].input-line {
	
	border-width: 0 0 1px 0;
	width: 90%;
	border-style: dashed; 
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	
}

fieldset {
	margin-bottom: 20px;
}

.nowrap
{
    white-space: nowrap;
}

.thin {
	font-weight: 100;
}

.sticky {
    position: fixed;
    bottom: 80px;
}

/*.table th {
	font-weight: normal;
	font-family: 'ProximaNova-Bold', Arial;
}*/

.center
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.center-image
{
    position: absolute;
    left: 50%;
    top: 50%;
}

.no-space [class*="span"]
{
    margin-left: 0;
}

.no-space
{
    margin-left:0;
}

.help-inline, .help-block
{
    color: #999999;
}

.popover {
    width: auto;
}

.blue
{
   /* color: #106DB0 !important; */
   color: #2070a8 !important;
}

.grey
{
    color: #999 !important;
}

.green
{
    color: #80b500;
}

.red
{
    color: #EF7375;
}

.app_icon {
    margin-top: 0px;
    font-size: 17px;
    width: auto;
    color: #999;
    vertical-align: middle;
    cursor: pointer;
}

.btn .app_icon {
    font-size: 14px;
}

.btn-primary .app_icon {
    color: #fff;
}

.app_icon_large {
    margin-top: 0px;
    font-size: 21px;
    width: auto;
    color: #999;
    vertical-align: middle;
}

.app_icon.active, .app_icon_large.active {
    color: #80b500;
}

.content-block
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; /* future proofing */


    -webkit-box-shadow: 0px 1px 1px #999999;
    -moz-box-shadow: 0px 1px 1px #999999;
    box-shadow: 0px 1px 1px #999999;

    border: 3px solid #e3dfdc;

    background-color: #ffffff;
    background-image: url('/img/block_gradient.png');
    background-repeat: repeat-x;
    background-position: bottom;
    color: #404040;
}

.btn-primary, .btn-primary[disabled]
{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8dbd19;
    background-image: -moz-linear-gradient(top, #8dbd19, #76A605);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dbd19), to(#76A605));
    background-image: -webkit-linear-gradient(top, #8dbd19, #76A605);
    background-image: -o-linear-gradient(top, #8dbd19, #76A605);
    background-image: linear-gradient(to bottom, #8dbd19, #76A605);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dbd19', endColorstr='#76A605', GradientType=0);
    border-color: #76A605 #76A605 #326602;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #76A605;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active
{
    color: #ffffff;
    background-color: #76A605;
    *background-color: #76A605;
}


.btn-green, .btn-green[disabled]
{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8dbd19;
    background-image: -moz-linear-gradient(top, #8dbd19, #76A605);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8dbd19), to(#76A605));
    background-image: -webkit-linear-gradient(top, #8dbd19, #76A605);
    background-image: -o-linear-gradient(top, #8dbd19, #76A605);
    background-image: linear-gradient(to bottom, #8dbd19, #76A605);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dbd19', endColorstr='#76A605', GradientType=0);
    border-color: #76A605 #76A605 #326602;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #76A605;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] 
{
    color: #ffffff;
    background-color: #76A605;
    *background-color: #76A605;
}

.btn-blue, .btn-blue[disabled]
{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8dbd19;
    background-image: -moz-linear-gradient(top, #2580c2, #2070a8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2580c2), to(#2070a8));
    background-image: -webkit-linear-gradient(top, #2580c2, #2070a8);
    background-image: -o-linear-gradient(top, #2580c2, #2070a8);
    background-image: linear-gradient(to bottom, #2580c2, #2070a8);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2580c2', endColorstr='#2070a8', GradientType=0);
    border-color: #2070a8 #2070a8 #164e75;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #2070a8;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled]
{
    color: #ffffff;
    background-color: #2070a8;
    *background-color: #2070a8;
}

.dropdown-menu
{
    text-align: left;
}

.dropdown-menu ul, .dropdown-menu li
{
    padding-left: 0;
    margin-left: 0;
}

.dropdown-menu ul
{
    padding-right: 30px;
}

.dropdown-menu li a
{
    color: #106DB0;
}

.section-nav {
	margin-bottom: 0;
}

/**** Header ****/
header
{
    background-color: #000000;
}

header a, header a:hover
{
    /*color: #c7ee6a;*/
    text-decoration: none;
}


header .row
{
    padding: 3px 0 2px;
    line-height: 25px;
}

/**** Account Dropdown ****/
header .breadcrumbs, header .dropdown
{
    float: left;
    color: #c7ee6a;
    font-size: 11px;
}


header .dropdown-menu
{
    border: 4px solid #afafaf;
    padding: 6px 6px 6px 12px;
    margin-top: 0px;

    -webkit-border-radius: 0 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px;

    background-color: #ffffff;
    background-image: url('/img/block_gradient.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

header .dropdown-menu .form-search
{
    left: -1px;
    margin: 5px 0 0 0;
}

header .dropdown-menu .form-search ul /*List Filter*/
{
    margin: 6px 0 0 0;
}

header .dropdown-menu .form-search input
{
    background-color: #f9f9f9;
    width: 190px;
}

header .dropdown-menu ul
{
    padding-right: 6px;
    /*max-height: 240px;*/
    /*overflow-y: auto;*/
}

header .dropdown-menu ul a
{
    color: #106DB0;
    font-weight: normal !important;
    padding: 3px 0;

}

header .dropdown-menu ul li a,
header .dropdown-menu ul li.active a,
header .dropdown-menu ul li.active a:hover
{
    background: none;
}

header .dropdown-menu ul li a:hover {
	background: none;
	color: #5ea3d3;
}

header .dropdown-menu ul li.active a,
header .dropdown-menu ul li.active a:hover
{
    color: #80b500 !important;
}

/**** Profile Dropdown ****/
header .profile
{
    float: right;
    height: 25px;
}

header .profile.dropdown
{
    margin-top: 2px;
}

header .profile .profile-pic {
    border-radius: 44px;
    max-width: 22px;
    text-align: center;
    margin-top: -2px;
}

/**** Notification ****/
header .notification, header .profile
{
    color: #ccc;
    font-size: 13px;
    text-align: left;
}

header .divider {
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid #7E7E7E;
}

header .notification
{
    float: left;
    padding: 0 10px;
    position: relative;
}

header .notification-wrapper
{
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    text-align: center;
    line-height: 14px;
    width: 14px;
    height: 14px;
    background-color: #f85824;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: -3px;
    top: -1px;
    padding: 1px;
}

header .notification-link
{
    padding: 0 6px;
    height: 20px;
}

header .notification-display
{

    display: none;
    position: fixed;
    top: 30px;
    margin-left: -347px;
}

header .profile a.dropdown-toggle,
header .profile a.dropdown-toggle:hover
{
    color: #ccc;
    font-size: 13px;
    margin-left: 3px;
}

header .profile a .notification
{
    color: #ccc;
}

header .profile .open a.dropdown-toggle,
header .profile .open a.dropdown-toggle:hover,
header .profile .open a .notification
{
    color: #fff;
}

header .open a.dropdown-toggle .caret {
    border-top: 4px solid #fff !important;
}

header .profile .dropdown-alert a.dropdown-toggle,
header .profile .dropdown-alert a.dropdown-toggle:hover
{
    padding: 0;
    margin-left: 0;
}

header .profile img {
    margin-top: 1px;
}

header .profile .dropdown-menu
{
    border: 4px solid #afafaf;
    padding: 4px 6px 4px 12px;
    margin-top: 0px;

    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

header .profile .dropdown-alert {
     position: relative;
}

header .profile .dropdown-alert.open {
    height: 25px !important;
}

header .profile .dropdown-alert .dropdown-toggle
{
    margin-right: 10px;
}

header .profile .dropdown-alert .dropdown-menu
{
    right: 10px;
    left: auto;
    top: 25px;
    width: 400px;
    padding: 0;
    font-size: 14px;
}

header .profile .dropdown-alert .dropdown-menu-inner {
    padding: 4px 12px 0 12px;
    max-height: 340px;
    overflow-y: auto;
}

header .profile .dropdown-alert .span6.btn {
    border: none;
    border-radius: 0;
    margin: 0;
    line-height: 30px;
    font-size: 13px;
    color: #999;
}

header .profile .dropdown-alert .app-pic {
    width: 25px;
    margin-top: 5px;
}

header .profile .dropdown-alert .span6.btn-red {
    border-left: 1px dotted #ababab;
    color: #af5d5d;
}

header .profile .dropdown-alert .section-nav.read  {
    background-color: #efefef;
}

header .profile .dropdown-profile .dropdown-menu ul {
    text-align: right;
}

/**** Left Pages Nav ****/
ul.pages-nav
{
    padding: 0 0 4px 0;
    position: relative;
    margin: 0 20px;
}

ul.pages-nav li
{
    padding: 8px 0 6px 2px;
}

/**** Section ****/
.section-nav li
{
    list-style: none;
    display: block;
    border-bottom: 1px dotted #ababab;
    padding: 5px 3px;
}

.section-nav li:last-child
{
    border-bottom:none;
}

.dropdown-alert .section-nav li:last-child
{
    border-bottom: 1px dotted #ababab;
}

.section-nav li:hover a
{
    /*color: #80b500;*/
    text-decoration: none;
}

.section-nav li a
{
    /*color: #106DB0;*/
    font-size: 13px;
    margin-right: 14px;
    /*font-family: 'ProximaNova-Bold', Arial;*/
    font-weight: bold;
}

.dropdown-alert .section-nav li a
{
    font-size: 13px;
    margin-right: 0;
}

.section-nav li a.active
{
    color: #80b500;
}

section .section-nav li a
{
    font-size: 14px;
}

/**** Nav ****/
nav {
    background-image: url('/img/dark_bg5.png');
    background-repeat: repeat;
}

.nav-hr
{
    height: 14px;
    background-image: url('/img/nav_border.png');
    background-repeat: repeat-x;
}

#logo
{
    color: #ffffff;
    font-size: 26px;
    padding-top: 34px;
    padding-right: 20px;
    float: left;
}

#logo_pic
{
    padding-top: 11px;
    padding-right: 20px;
    float: left;
}

.content-block .group {
    border: 1px solid #dcd8d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 10px 0;
}

.content-block .group-header {
    background: #909090;
    padding: 6px 10px 8px;
    color: #fff;

    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.content-block .group-item {
    padding: 10px 10px 30px;
}

.content-block .group-item:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.content-block .group-item em {
    color: #888;
}

.content-block .group .odd {
    background: #f7f6f3;
}

/**** Footer ****/
footer
{
    /**text-align: center;
    padding: 8px 20px 6px 20px;*/
    font-size: 11px;
    color: #787878;
    margin: 20px;
}

input[type=daterange] {
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;

    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/**** Modal ****/
.modal
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
}

.modal .form-horizontal .control-group
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-header
{
    background-image: -moz-linear-gradient(top,  #fefefe 0%, #F5F4F2 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#F5F4F2)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #fefefe 0%,#F5F4F2 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #fefefe 0%,#F5F4F2 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fefefe 0%,#F5F4F2 100%); /* IE10+ */
    background-image: linear-gradient(top,  #fefefe 0%,#F5F4F2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#F5F4F2',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #d9d9d9;

    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.modal-header h1
{
    color: #80b500;
    font-size: 25px;
    /*font-family: 'ProximaNova-Regular', Arial;*/
    margin: 5px 0 0;
    text-shadow: 0 2px 0 #fff;
}

.modal-body h3
{
    font-size: 16px;
    /*font-family: 'ProximaNova-Bold', Arial;*/
    font-weight: bold;
}

.modal-body {
	max-height: none;
}

.modal .group {
    border: 1px solid #ccc;
    height: auto;
}

.modal .group-header {
    background: #ccc;
    padding: 0 8px;
    font-size: 14px;
}

/****Datatable****/
table.table td img {
    margin-right: 5px;
}

/****Autocomplete****/
.typeahead {z-index: 9999;}


/****Form Errors Output****/
input.ng-invalid.ng-dirty
{
    border-color: #e9322d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8b9b7;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8b9b7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8b9b7;
    position: relative;
}

input:focus.ng-invalid.ng-dirty
{
    border-color: #e9322d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8b9b7;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8b9b7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8b9b7;
}

.form-inline-cell .error.help-block, .controls .error.help-block, .select-dropdown .error.help-block
{
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #EF7375;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 6px 6px 1px;
    position: relative;
    z-index: 0;
    text-shadow: 1px 1px #ff0000;
    width: inherit;
}

.form-inline-cell .error.help-block
{
    top: -4px;
}

.controls .error.help-block
{
    top: -12px;
}

.select-dropdown .error.help-block
{
    margin-top: 0;
    line-height: 20px;
    top: -5px;
}

.controls .text
{
    position: relative; top: 3px;
}

.error.help-block .icon-attention
{
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    color: #fff;
}

/**** Equal Height ****/
.equal-height-container
{
    margin: 0 auto;
    overflow: hidden;
}

.equal-height-section, .equal-height-section.modal-content, .equal-height-section.main
{
    padding: 0 0 2000px 0;
    margin: 0 0 -2000px 0;
}

/****Image Icon****/
.add-image
{
    position: relative;
    /*margin-left: 25px;*/
    text-align: right;
}

.add-image .icon-plus-circle
{
    position: absolute;
    bottom: -3px;
    right: 0;
    cursor: pointer;
    color: #999;
    font-size: 18px;
    opacity: 1;
    line-height: normal;
}

.add-image .icon-plus-circle:before
{
    border-radius: 13px;
    background: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

/****Add Link with Icon ****/
.add-link
{
    color: #ccc;
    cursor: pointer;
}

/****Help Icon ****/
header .icon-lightbulb, header .icon-bell-alt, header .profile .icon-user {
    /**margin: -2px 10px 0 0;*/
    font-size: 18px;
    color: #ccc;
}

header .profile .icon-user {
    margin-top: 0;
}

header .open .icon-lightbulb, header .open .icon-bell-alt, header .profile .open .icon-user {
    color: #fff;
}

/**** Modal Form Title ****/
.modal input[type=text].title, form strong.title {
    font-size: 22px;
    color: #106DB0;
}

.modal input[type=text].title {
    padding-top: 4px;
    padding-bottom: 4px;
    height: auto !important;
    width: 300px;
    line-height: normal;
}

.modal form strong.title {
    text-shadow: none;
    line-height: normal;
    /*font-family: 'ProximaNova-Regular', Arial;*/
}

.modal .table.no-border td,  .modal form.no-border table td
{
    border: none;
    padding: 8px 4px;
    background: none;
}

.modal form.no-border table
{
    border: none;
}

.modal div.border-bottom
{
    border-top: none;
    /*border-bottom: 1px dashed #dddddd;*/
    padding: 8px 0;
}

/**** Form Search ****/
.form-search
{
    margin: 0 10px 0 0;
    line-height: normal;
    position: relative;
    display: inline-block;
}

.form-search input[type="text"]
{
    padding: 4px 5px;
    height: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-search .icon-search, .form-search .close, .form-search .spinner
{
    position: absolute;
    top: 4px;
    right: 5px;
    width: 14px; height: 15px;
    color: #ccc;
    cursor: pointer;
    opacity: 1;
}

.form-search .icon-search
{
    right: 8px;
}

.form-search .spinner
{
    right: 17px;
}

/**** Add ****/
.select-dropdown
{
    min-width: 160px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px #ccc;
    -moz-box-shadow: 0 5px 10px #ccc;
    box-shadow: 0 5px 10px #ccc;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 90%;
    line-height: 35px;
}

.select-dropdown.no-border
{
    border: none;
    box-shadow: none;
    padding: 0;
    line-height: inherit;
}

.select-dropdown .input-append .btn, .select-dropdown .input-append input
{
    vertical-align: top;
}

/****File Upload****/
.fileupload-container table
{
     margin: 0;
}

.fileupload-container span, .fileupload-container div
{
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}

.fileupload-buttonbar input[type="file"]
{
    position: absolute;
    right: -5px; bottom: -10px;
    font-size: 18px;
    margin: 0px; padding: 0px;
    cursor: pointer;
    opacity: 0;
    width: 20px;
}

.fileupload-container .file
{
    margin-left: 10px;
}

.fileupload-container .error
{
    color: #ff0000;
    line-height: normal;
    display: block;
    margin-bottom: 0;
}

/****Help****/
.help-item.contact
{
    min-width: 240px;
    padding: 10px 20px 10px 20px;
    margin: auto auto 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px #ccc;
    -moz-box-shadow: 0 5px 10px #ccc;
    box-shadow: 0 5px 10px #ccc;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 50%;
    height: 90px;
    overflow-y: auto;
}

.help-item ul
{
    margin: 0; padding: 0;
    list-style-type: none;
}

.help-item ul li {
    margin: 0; padding: 0 0 20px;
}

.help-item.contact ul ul
{
    margin-left: 30px;
    color: #444;
    font-size: 14px;
}

.help-item.contact ul ul li
{
    background: url('/img/help_bg_line.png') 0% 80% repeat-x;
    padding-bottom: 0;
}

.help-item.contact ul ul li.no-border
{
    background: none;
}

.help-item.contact ul ul li span
{
    background-color: #fff;
    margin-top: 10px;
    display: inline-block;
}

.help-content .help-title, .help-item .help-title
{
    color: #80b500;
    font-size: 16px;
    /*font-family: 'ProximaNova-Bold', Arial;*/
    font-weight: bold;
}

.help-content
{
    color: #000;
}

.help-content p
{
    line-height: normal;
}

.help-content .help-item
{
    width: 85%;
}

.help-content .help-item li
{
    border-bottom: 2px solid #f0f0f0;
    padding: 10px 0;
}

.help-content .help-item li li
{
    border-bottom: none;
}

.help-content .help-item ol
{
    margin-bottom: 20px;
}

.help-content .help-item ol li
{
    margin-left: 20px;
    padding: 0;
}

.help-content .help-item p
{
    margin-left: 20px;
}

.right-dir
{
    border-left: 7px solid #80b500;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.down-dir
{
    border-top: 7px solid #80b500;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.alert-message {
    min-width: 160px;
    padding: 20px 50px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px #ccc;
    -moz-box-shadow: 0 5px 10px #ccc;
    box-shadow: 0 5px 10px #ccc;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 30%;
    left: 50%;
    margin: 30px auto 0 -15%;
    text-align: center;
}

.alert-message-arrow {
    top: -50px;
    right: -55px;
}

.siteBlock {
    text-align: center;
    color: #000;
}

:root input.styled[type=radio], :root input.styled[type=checkbox] {
    position: absolute;
    clip: rect(0,0,0,0);
}
:root input.styled[type=radio] + label, :root input.styled[type=checkbox] + label {
    float: left;
}
:root input.styled[type=checkbox] + label:before,
:root input.styled[type=radio] + label:before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(/img/checkbox-radio.png);

    display: block;
    float: left;
    margin-top: -4px;
}
:root input.styled[type=checkbox] + label:before {
    background-position: -25px 0;
}
:root input.styled[type=checkbox]:checked + label:before {
    background-position: 0 0;
}
:root input.styled[type=checkbox]:disabled + label:before {
    background-position: -25px -25px;
}
:root input.styled[type=checkbox]:checked:disabled + label:before {
    background-position: 0 -25px;
}
:root input.styled[type=radio] + label:before {
    background-position: -75px 0;
}
:root input.styled[type=radio]:checked + label:before {
    background-position: -50px 0;
}
:root input.styled[type=radio]:disabled + label:before {
    background-position: -75px -25px;
}
:root input.styled[type=radio]:checked:disabled + label:before {
    background-position: -50px -25px;
}

/* New styles for bootstrap3 */
.form-group .form-error {
    color: #fff;
    font-size: 12px;
    background-color: #EF7375;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 3px 6px;
    position: relative;
    text-shadow: 1px 1px #ff0000;
    width: 100%;
    top: -4px;
    display: inline-block;
}

.form-group .form-error .icon-attention {
    display: block;
    position: absolute;
    top: -20px;
    right: 1px;
    color: #EF7375;
    text-shadow: none;
}

.add-image .glyphicon-plus-sign
{
    position: absolute;
    top: auto;
    bottom: 14px;
    right: -6px;
    cursor: pointer;
    color: #999;
}

