/******** Launchpad *************/

body
{
    background-color: #333333;
    background-image: url('/img/light_bg.gif');
    background-repeat: repeat;
}

header
{
    background-image: url('/img/dark_bg.png');
    background-repeat: repeat;
    padding: 10px 0;
}

h3
{
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 2px;
}

ul.section-nav {

    margin-bottom: 0; /** hack to get rid of the extra space at the bottom of the profile dropdown **/

}

.wrapper
{
    max-width: 1200px;
    /**margin-left: auto;
    margin-right: auto;*/
    height: 100%;
}

.title
{
    font-weight: 100;
    font-size: 23px;
    color: #bbbbbb;
    padding-top: 3px;
}

.horizontal-bar
{
    border-right: 1px solid #7e7e7e;
    padding-right: 12px;
    margin-right: 12px;
}

.content-block
{
    padding: 4% 4% 10px 4%;
    margin-top: 35px;
}

.add-account
{
    text-align: right;
    font-weight: 100;
    font-size: 20px;
    color: #aaaaaa;
    line-height: 40px;
    margin-top: 5px;
    cursor: pointer;
}

.thumbnails .thumbnail
{
    position: relative;
    margin-bottom: 30px;
    /**padding-top: 10px;*/

    border-color: #efefef;
    text-align: center;

    /* fallback */
    background-color: #f9f9f9;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#f9f9f9));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #fcfcfc, #f9f9f9);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);

    /* IE 10 */
    background: -ms-linear-gradient(top, #fcfcfc, #f9f9f9);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fcfcfc, #f9f9f9);

    height: 180px;
}

.thumbnails .thumbnail:hover
{
    /* fallback */
    background-color: #f3f3f3;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcfcfc), to(#f3f3f3));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #fcfcfc, #f3f3f3);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #fcfcfc, #f3f3f3);

    /* IE 10 */
    background: -ms-linear-gradient(top, #fcfcfc, #f3f3f3);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #fcfcfc, #f3f3f3);
}

.thumbnails .thumbnail span
{
    display: block;
    max-height: 150px;
}

.thumbnails .thumbnail .new-account
{
    position: absolute;
    left: -10px;
    top: -3px;
}

.thumbnails .thumbnail .image-container {
    margin: 20px auto 0;
    max-height: 100px;
    overflow: hidden;
}
