/****Responsive layout****/
/* Large desktop */
/*@media (min-width: 1200px) {}*/

/* Portrait tablet to landscape and desktop and large desktop */
@media (min-width: 768px)
{
    .header-left, .header-right {
        width: auto !important;
    }

    header .breadcrumbs a, header .breadcrumbs a:hover,
    header a.dropdown-toggle, header a.dropdown-toggle:hover
    {
        color: #c7ee6a;
    }

    header a.dropdown-toggle
    {
        padding: 0 5px;
    }

    header .profile a.dropdown-toggle span
    {
        line-height: 25px;
    }

    header .open a.dropdown-toggle
    {
        display: inline-block;
        text-decoration: none;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        background-color: #afafaf;
    }

    header .dropdown .caret
    {
        /**border-top: 4px solid #ccc;
        margin-top: 10px;*/
    }

    nav {
        height: 90px;
    }

    nav ul
    {
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-table;
        margin: 0;
    }

    nav ul:after
    {
        content: ""; clear: both; display: block;
    }

    nav ul li
    {
        float: left;
        /*padding: 0 4px;*/
        height: 90px;
    }

    nav ul li:hover a
    {
        color: #fff;
    }

    nav ul li.active {
        background: url('/img/icon-app-active.png') no-repeat bottom center;
    }

    nav ul li a
    {
        display: block;
        margin: 3px 0 0 0;
        color: #aeaeae;
        text-decoration: none;
        width: 82px;
        text-align: center;
        font-size: 11px;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
    }

    nav ul li.active a
    {
        color: #ffffff;
    }

    nav ul li a:hover
    {
        text-decoration: none;
    }

    .app-icon
    {
        display: block;
        width: 48px;
        height: 48px;
        margin: 10px auto;
        background-size: 48px 48px;
        /*text-shadow: 1px 2px 1px #333;*/
        -moz-box-shadow:    0px 0px 20px 0px #313131;
        -webkit-box-shadow: 0px 0px 20px 0px #313131;
        box-shadow:         0px 0px 20px 0px #313131;
        /*border: 1px #666666 solid;*/
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; /* future proofing */
        -khtml-border-radius: 4px; /* for old Konqueror browsers */
    }
    
    .app-icon-big
    {
    	padding: 8px 0 0 8px;
    	width: 64px;
    	height: 64px;
    	-moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; /* future proofing */
      -khtml-border-radius: 4px; /* for old Konqueror browsers */
    }

    .app-name
    {
        display: block;
        margin-top: -6px;
    }

    .modal
    {
        /**width: 720px;
        margin-left: -360px;*/
    }

    .help-modal
    {
        /**width: 60%;
        margin-left: 20%;
        left: 0;*/
    }

    .modal-content
    {
        /**border-left: 5px solid #5E94BA;
        padding: 10px;*/
    }

    .modal-body
    {
        /**position: static;*/
    }

    .modal-sidebar
    {
        margin: 0;
        padding: 0;
    }

    .modal-sidebar > li > a
    {
        color: #106DB0;
        display: block;
        margin: 0;
        padding: 6px 14px;
        border-bottom: 1px dotted #e5e5e5;
        text-align: right;
        font-weight: bold;
        white-space: nowrap;

        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }

    .modal-sidebar > .active > a,  .modal-sidebar > .active > a:hover
    {
        background-color: #5E94BA;
    }

    .modal-content-inner
    {
        padding-left: 40px;
        padding-top: 10px;
    }

    .report-creator .group-item {
        display: table-cell;
        float: none;
    }
}

/* Landscape phone to portrait tablet */
/*@media (min-width: 481px) and (max-width: 767px)*/


/* Landscape phones and down */
@media (max-width: 767px)
{
    body
    {
        padding-left: 0;
        padding-right: 0;
    }

    .container-fluid
    {
        padding-left: 0;
        padding-right: 0;
    }

    section .container-fluid
    {
        padding-left: 15px;
        padding-right: 15px;
    }

    header
    {
        padding: 0;
    }

    header .row-fluid
    {
        padding: 0;
    }

    header .col-md-6
    {
        float: left !important;
    }

    header .col-md-6.pull-right
    {
        float: right !important;
    }

    header .notification
    {
        cursor: pointer;
    }

    header .title
    {
        /*font-family: 'ProximaNova-Regular';*/
    }

    header .breadcrumbs, header .notification-link,
    header .profile a.dropdown-toggle span
    {
        display: none;
    }

    header .title, header a.dropdown-toggle, a.mo-dropdown-toggle,
    a.mo-dropdown-toggle:hover
    {
        color: #fff;
        font-size: 26px;
        text-shadow: 1px 2px 1px #555;
        line-height: 40px;
        text-decoration: none;
    }

    nav a.mo-dropdown-toggle, nav a.mo-dropdown-toggle:hover
    {
        display: inline-block;
        color: #fff;
        font-size: 14px;
        margin: 0;
        width: 100%;
        text-align: left;
        vertical-align: middle;
        line-height: normal;
    }

    .profile a.mo-dropdown-toggle, .profile a.mo-dropdown-toggle:hover
    {
        line-height: normal;
        display: inline-block;
        font-size: 13px;
    }

    .profile .mo-dropdown-toggle
    {
        background-color: #5f5f5f;
        -webkit-box-shadow: inset 0 0 10px #5c5c5c;
        -moz-box-shadow: inset 0 0 10px #5c5c5c;
        box-shadow: inset 0 0 10px #5c5c5c;

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        margin-top: 2px;
        padding: 3px;
    }

    .profile .mo-dropdown-toggle.active
    {
        background-color: #6f6f6f;
        -webkit-box-shadow: inset 0 0 10px #6c6c6c;
        -moz-box-shadow: inset 0 0 10px #6c6c6c;
        box-shadow: inset 0 0 10px #6c6c6c;
    }

    .profile .mo-dropdown-toggle.active
    {
        position: absolute;
        z-index: 10000;
    }

    header a.dropdown-toggle, header a.mo-dropdown-toggle,
    header a.mo-dropdown-toggle:hover,
    header .profile
    {
        margin: 3px 5px 0 10px;
    }

    header .title
    {
        margin: 0 5px 0 10px;
    }

    header .profile a.dropdown-toggle, header .profile a.dropdown-toggle:hover
    {
        margin: 0;
    }

    header ul li .close, nav ul li.dropdown-menu-header .close, header .profile ul li .close
    {
        color: #aaa;
        line-height: 40px;
        font-size: 25px;
        font-weight: bold;
        margin: 0 15px 0 10px;
        opacity: 1;
        text-shadow: none;
    }

    ul li .close:hover {
        color: #aaa;
    }

    /**** Profile Dropdown ****/
    header .profile a.dropdown-toggle
    {
        background: url('/img/profile_pic2.png') no-repeat center center;
        width: 25px; height: 25px;
        display: inline-block;
        line-height: 25px;
    }

    .mo-dropdown .caret
    {
        border-top: 8px solid #ccc;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        margin-left: 5px;
        margin-top: 21px;
    }

    header .profile.mo-dropdown .caret
    {
        border-top: 8px solid #ccc;
    }


    nav .mo-dropdown .caret {
        margin-top: 4px;
    }

    header .caret.reverse, nav .caret.reverse, header .profile.mo-dropdown .caret.reverse {
        border-top: 0;
        border-bottom: 8px solid #ccc;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }

    .mo-dropdown
    {
        color: #fff;
    }

    .mo-dropdown-menu
    {
        position: absolute; 
        width: 100%;
        background-color: #5f5f5f;
    }

    .profile .mo-dropdown-menu
    {
        right: 0; top: 0;
    }

    header .mo-dropdown-menu
    {
        z-index: 9999;
    }

    nav .mo-dropdown-menu
    {
        z-index: 9888;
    }

    .mo-dropdown-menu ul
    {
        padding: 0; margin: 0;
        width: 100%;
    }

    .mo-dropdown-menu ul li
    {
        padding: 0; margin: 0;
        width: 100%;
        border-bottom: 1px solid #6c6c6c;
    }

    .mo-dropdown-menu ul li a {
        display: inline-block;
        color: #cecece;
        font-size: 18px;
        width: 100%;
        line-height: 40px;
        text-shadow: 1px 2px 1px #555;
    }
    
    .mo-dropdown-menu ul li a.active {
    	
      color: #ffffff;
    }

    header .mo-dropdown-menu ul li.active a
    {
        font-size: 26px;
    }

    header .profile .mo-dropdown-menu ul li.active a
    {
        font-size: 18px;
    }

    .mo-dropdown-menu .mo-dropdown-menu ul li a
    {
        font-size: 14px !important;
    }

    .mo-dropdown-menu ul li.last a {
        border-top: 1px solid #6c6c6c;
        margin-top: 1px;
    }

    .mo-dropdown-menu li.dropdown-menu-header
    {
        background: url('/img/dark_bg2.png');
        cursor: pointer;
    }

    .mo-dropdown-menu li.dropdown-menu-header span
    {
        color: #aaaaaa;
        line-height: 40px;
        margin: 0 0 0 10px;
    }

    .mo-dropdown-menu ul li a span
    {
        margin-left: 10px;
    }

    .mo-dropdown-menu li.active .mo-dropdown-menu li a.active
    {
       
        /*font-family: 'ProximaNova-Bold';*/
        font-weight: bold;
        color: #ffffff;
        
    }
    
    .mo-dropdown-menu li.active .mo-dropdown-menu li a
    {
    	color: #cecece;
    }
    
    
    /*.mo-dropdown-menu .mo-dropdown-menu-locations li.active a
    {
    		font-weight: bold;
    }*/

    .profile .mo-dropdown-menu li.active .mo-dropdown-menu a
    {
        font-size: 14px;
        padding: 10px 0;
        line-height: normal;
    }
    .profile .mo-dropdown-menu li.active .mo-dropdown-menu a span
    {
        display: block;
    }

    .profile .mo-dropdown-menu .mo-dropdown-menu a span em
    {
        display: block;
        line-height: normal;
    }

    .mo-dropdown-menu .mo-dropdown-menu
    {
        background-color: #2c2c2c;
    }

    .mo-dropdown-menu .mo-dropdown-menu .name
    {
        margin-left: 30px;
    }
    
    .mo-dropdown-menu .mo-dropdown-menu .page-name
    {
        margin-left: 100px; margin-top: 14px;height: 32px;
    }

    header .mo-dropdown-menu .mo-dropdown-menu {
        position: static;
    }

    header .mo-dropdown-menu .mo-dropdown-menu .name
    {
        position: static;
    }

    nav #logo, .nav-hr
    {
        display: none;
    }

    .app-icon
    {
        font-size: 25px;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-size: 32px 32px;
        /*text-shadow: 1px 2px 1px #333;*/
        -moz-box-shadow:    0px 0px 20px 0px #313131;
        -webkit-box-shadow: 0px 0px 20px 0px #313131;
        box-shadow:         0px 0px 20px 0px #313131;
        /*border: 1px #666666 solid;*/
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px; /* future proofing */
        -khtml-border-radius: 4px; /* for old Konqueror browsers */
        top: 12px;
    }
    
    .app-icon-big
    {
    	padding: 8px 0 0 8px;
    	width: 64px;
    	height: 64px;
    	-moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; /* future proofing */
      -khtml-border-radius: 4px; /* for old Konqueror browsers */
    }

    span.name
    {

    }

    span.name, .app-icon
    {
        display: inline-block;
        position: relative;
        height: 32px;
        margin: 0 10px;
    }


    nav .mo-dropdown-menu li > a
    {
        line-height: normal;
        height:  inherit;
        font-size: 14px;
        text-decoration: none;
    }

    nav .mo-dropdown-menu li > a:hover,
    nav .mo-dropdown-menu li > a:focus,
    nav .mo-dropdown-menu .active > a,
    nav .mo-dropdown-menu .active > a:hover
    {
        text-decoration: none;
    }

    nav .mo-dropdown-menu li > a:hover,
    nav .mo-dropdown-menu li > a:focus
    {
        color: #fff;
    }

    nav .mo-dropdown-menu .active > a,
    nav .mo-dropdown-menu .active > a:hover
    {
        color: #fff;
    }

    nav .mo-dropdown-menu li.active
    {
        background-image: -moz-linear-gradient(top,  #6c6c6c 0%, #4E4E4E 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(100%,#4E4E4E)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top,  #6c6c6c 0%,#4E4E4E 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top,  #6c6c6c 0%,#4E4E4E 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  #6c6c6c 0%,#4E4E4E 100%); /* IE10+ */
        background-image: linear-gradient(top,  #6c6c6c 0%,#4E4E4E 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#4E4E4E',GradientType=0 ); /* IE6-9 */
    }

    header .mo-dropdown-menu ul li a, nav .mo-dropdown-menu ul li a
    {
        position: relative;
    }

    header .mo-dropdown-menu ul li .caret, nav .mo-dropdown-menu ul li .caret
    {
        position: absolute;
        right: 15px; top: 12px;
    }

    header .mo-dropdown-menu ul li .caret
    {
        top: 6px;
    }

    .wtm-grid li.header
    {
        display: none;
    }

    .wtm-grid li div
    {
        width: 95%;
        border: none;
        padding: 8px 0;
    }

    .wtm-grid li {
        border-bottom: 1px solid #dedede;
    }

    .wtm-grid li div.title
    {
        background-color: #dedede;
        font-weight: bold;
        padding: 8px;
    }

    .wtm-grid li div.second
    {
        padding-left: 20px;
    }

    .wtm-roles
    {
        border: none;
    }

    .add-account
    {
       margin-top: 0;
    }

    .add-link
    {
        margin-top: 10px;
    }

    .add-image
    {
        text-align: left;
        width: 40%;
        margin-left: 0;
    }

    .add-image img
    {
        width: 100%;
    }

    .add-image .icon-plus-circle, .add-image .glyphicon-plus-sign
    {
        position: absolute;
        bottom: -3px;
        right: 0;
    }

    .wtm-locations div.wtm-location
    {
        overflow-y: visible;
    }

    .header-right-cell
    {
        text-align: left;
        padding-left: 15px;
        padding-top: 10px;
    }

    .help-modal
    {
        width: auto;
        margin-left: 0;
    }

    .help-item.contact
    {
        margin: 0;
        padding: 10px;
        width: 80%;
    }

    .help-item.contact ul ul span.pull-right
    {
        float: none;
    }

    .modal-body
    {
        /*max-height: none !important;*/
        overflow-y: visible !important;
        position: relative;
    }

    .modal-sidebar
    {
        margin: 5px 0 10px;
        padding: 0;
        width: 170px;
    }

    .modal-sidebar > li > a
    {
        text-align: left;
    }

    .modal-sidebar a.mo-dropdown-toggle, .modal-sidebar a.mo-dropdown-toggle:hover
    {
        color: #fff;
        display: block;
        margin: 0;
        padding: 6px 14px;
        border-bottom: 1px dotted #e5e5e5;
        border-right: 4px solid #5E94BA;
        text-align: right;
        font-weight: bold;
        white-space: nowrap;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #5E94BA;
        line-height: normal;
        font-size: 14px;
        text-shadow: none;
    }

    .modal-sidebar a.mo-dropdown-toggle .caret
    {
        margin: 0;
        vertical-align: middle;
        border-top: 8px solid #fff;
    }

    .modal-sidebar .mo-dropdown-menu
    {
        border: none;
        margin: 0; padding: 0;
        font-weight: bold;

        -webkit-border-radius: 0 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px;

        background-image: -moz-linear-gradient(left,  #efefef 0%, #fff 5%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(5%,#fff)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(left,  #efefef 0%,#fff 5%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(left,  #efefef 0%,#fff 5%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(left,  #efefef 0%,#fff 5%); /* IE10+ */
        background-image: linear-gradient(left,  #efefef 0%,#fff 5%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fff',GradientType=0 ); /* IE6-9 */

        width: 170px;
        z-index:  1200;
    }

    .modal-sidebar .mo-dropdown-menu li
    {
        color: #106DB0;
        margin: 0; padding: 0;
        border-right: 4px solid #5E94BA;

        text-align: right;
        font-weight: bold;
        white-space: nowrap;
        font-size: 14px;
        list-style-type: none;
    }

    .modal-sidebar .mo-dropdown-menu li a
    {
        border-bottom: 1px dotted #e5e5e5;
        width: inherit;
        display: block;
    }

    .modal-sidebar .mo-dropdown-menu li a span
    {
        padding: 6px 14px;
        display: block;
    }

    .row-fluid.float [class*="span"]
    {
        float: left;
        width: auto;
    }

    .modal form strong.title
    {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .welcome-app
    {
        height: auto;
    }

    .welcome-app img
    {
        width: 50%;
    }

    .welcome-button
    {
        margin-top: 0;
    }

    .fileupload-buttonbar
    {
        float: none;
    }

    .fileupload-container
    {
        width: 80%;
    }
    
    .welcome-text h1 {
        font-size: 50px; /**/
        margin-bottom: 16px;
        line-height: 50px;
    }

    .alert-message {
        left: 0;
        margin: 10px;
        width: auto;
    }

    .alert-message-arrow {
        display: none;
    }

    .report-creator .group-item {
        display: inline-block;
        float: left;
    }
}
@media (max-width: 1041px)
{
    .day-parts-list {
        margin: 10px 0;
    }

    .day-parts-list li {
        padding: 15px 0 5px;
    }

    .day-parts-list li strong {
        margin-bottom: 0;
    }

    .day-parts-list li .input {
        width: 180px;
        margin-right: 10px;
    }

    .day-parts-list li select {
        margin-right: 5px;
    }

    .day-parts-list-add {
        padding-left: 0;
    }

    .day-parts-list li .span7 {
        margin-left: 0;
        width: 100%;
    }

    .day-parts-list li .span5 {
        margin-left: 0;
        width: 100%;
    }
}


@media (min-width: 1041px)
{
    .wtm-users div.wtm-user, .wtm-locations div.wtm-location
    {
        width: 30%;
        float: left;
    }
}

@media (min-width: 481px) and (max-width: 1040px)
{
    .wtm-users div.wtm-user, .wtm-locations div.wtm-location
    {
        width: 45%;
        float: left;
    }
}

@media (max-width: 767px) {
    .header-left {
        width: 85% !important;
    }

    .header-right {
        width: auto !important;
    }
}

@media (max-width: 480px)
{
    .wtm-users div.wtm-user, .wtm-locations div.wtm-location
    {
        width: 95%;
    }

    .add-image
    {
        width: 95%;
    }

    .fileupload-container
    {
        width: 95%;
    }

    header .profile .profile-pic {
        border-radius: 50px;
        max-width: 25px;
    }

    .day-parts-list li .day-parts-name {
        display: block;
    }

    .dashboard-widget-container {
        width: 100%;
    }

    .account-dashboard-column {
        min-width: 90%;
    }

    .dashboard-widget-placeholder, .new-widget-handle-container {
        width: 100%;
    }

    .dashboard-widget .dashboard-widget-header {
        width: 90%;
    }
}