@font-face {
	font-family: 'ProximaNova';
	src: url('/assets/webfonts/25A33F_28_0.eot');
	src: url('/assets/webfonts/25A33F_28_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_28_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_28_0.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

/* temp */
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('/assets/webfonts/25A33F_28_0.eot');
	src: url('/assets/webfonts/25A33F_28_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_28_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_28_0.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('/assets/webfonts/25A33F_29_0.eot');
	src: url('/assets/webfonts/25A33F_29_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_29_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_29_0.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;	 		 
}
/**** ****/


@font-face {
	font-family: 'ProximaNova';
	src: url('/assets/webfonts/25A33F_29_0.eot');
	src: url('/assets/webfonts/25A33F_29_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_29_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_29_0.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;	 		 
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/assets/webfonts/25A33F_22_0.eot');
	src: url('/assets/webfonts/25A33F_22_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_22_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_22_0.ttf') format('truetype');
	font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: 'ProximaNovaT-Thin';
	src: url('/assets/webfonts/25A33F_1D_0.eot');
	src: url('/assets/webfonts/25A33F_1D_0.eot?#iefix') format('embedded-opentype'),
	 		 url('/assets/webfonts/25A33F_1D_0.woff') format('woff'),
	 		 url('/assets/webfonts/25A33F_1D_0.ttf') format('truetype');
	font-weight: 100;
  font-style: normal;
}


/*
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('/assets/webfonts/25A33F_21_0.eot');
	src: url('/assets/webfonts/25A33F_21_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_21_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_21_0.ttf') format('truetype');
}
*/

/*
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('/assets/webfonts/25A33F_25_0.eot');
	src: url('/assets/webfonts/25A33F_25_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_25_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_25_0.ttf') format('truetype');
}
*/

/*
@font-face {
	font-family: 'ProximaNovaS-Semibold';
	src: url('/assets/webfonts/25A33F_C_0.eot');
	src: url('/assets/webfonts/25A33F_C_0.eot?#iefix') format('embedded-opentype'),
			 url('/assets/webfonts/25A33F_C_0.woff') format('woff'),
			 url('/assets/webfonts/25A33F_C_0.ttf') format('truetype');
}
*/

/*@font-face {
	font-family: 'MuseoSans-300';
	src: url('/assets/webfonts/21792F_1_0.eot');
	src: url('/assets/webfonts/21792F_1_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/webfonts/21792F_1_0.woff') format('woff'),
		url('/assets/webfonts/21792F_1_0.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}
 
/*@font-face {
	font-family: 'MuseoSans-500';
	src: url('/assets/webfonts/21792F_3_0.eot');
	src: url('/assets/webfonts/21792F_3_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/webfonts/21792F_3_0.woff') format('woff'),
		url('/assets/webfonts/21792F_3_0.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;
}*/
 
/*
@font-face {
	font-family: 'MuseoSans-700';
	src: url('/assets/webfonts/21792F_0_0.eot');
	src: url('/assets/webfonts/21792F_0_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/webfonts/21792F_0_0.woff') format('woff'),
		url('/assets/webfonts/21792F_0_0.ttf') format('truetype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'MuseoSans-300Italic';
	src: url('/assets/webfonts/21792F_6_0.eot');
	src: url('/assets/webfonts/21792F_6_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/webfonts/21792F_6_0.woff') format('woff'),
		url('/assets/webfonts/21792F_6_0.ttf') format('truetype');
	font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: 'MuseoSans-700Italic';
	src: url('/assets/webfonts/21792F_5_0.eot');
	src: url('/assets/webfonts/21792F_5_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/webfonts/21792F_5_0.woff') format('woff'),
		url('/assets/webfonts/21792F_5_0.ttf') format('truetype');
	font-weight: bold;
  font-style: italic;
}*/


/*
 @font-face {font-family: 'MuseoSans-900Italic';src: url('/assets/webfonts/21792F_2_0.eot');src: url('/assets/webfonts/21792F_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/21792F_2_0.woff') format('woff'),url('/assets/webfonts/21792F_2_0.ttf') format('truetype');}
 */
  
/*@font-face {
	font-family: 'MuseoSans-100';
	src: url('/assets/webfonts/21792F_4_0.eot');
	src: url('/assets/webfonts/21792F_4_0.eot?#iefix') format('embedded-opentype'),
		url('/assets/webfonts/21792F_4_0.woff') format('woff'),
		url('/assets/webfonts/21792F_4_0.ttf') format('truetype');
	font-weight: normal;
  font-style: normal;
}*/
 
  

 /*

  
 
  
 @font-face {font-family: 'MuseoSans-100Italic';src: url('/assets/webfonts/21792F_7_0.eot');src: url('/assets/webfonts/21792F_7_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/21792F_7_0.woff') format('woff'),url('/assets/webfonts/21792F_7_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'MuseoSans-500Italic';src: url('/assets/webfonts/21792F_8_0.eot');src: url('/assets/webfonts/21792F_8_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/21792F_8_0.woff') format('woff'),url('/assets/webfonts/21792F_8_0.ttf') format('truetype');}
 
  
 @font-face {font-family: 'MuseoSans-900';src: url('/assets/webfonts/21792F_9_0.eot');src: url('/assets/webfonts/21792F_9_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/21792F_9_0.woff') format('woff'),url('/assets/webfonts/21792F_9_0.ttf') format('truetype');}
 
 @font-face {font-family: 'ProximaNovaA-ExtrabldIt';src: url('/assets/webfonts/25A33F_0_0.eot');src: url('/assets/webfonts/25A33F_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_0_0.woff') format('woff'),url('/assets/webfonts/25A33F_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-ExtrabldIt';src: url('/assets/webfonts/25A33F_1_0.eot');src: url('/assets/webfonts/25A33F_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1_0.woff') format('woff'),url('/assets/webfonts/25A33F_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Thin';src: url('/assets/webfonts/25A33F_2_0.eot');src: url('/assets/webfonts/25A33F_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_2_0.woff') format('woff'),url('/assets/webfonts/25A33F_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Thin';src: url('/assets/webfonts/25A33F_3_0.eot');src: url('/assets/webfonts/25A33F_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_3_0.woff') format('woff'),url('/assets/webfonts/25A33F_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Extrabld';src: url('/assets/webfonts/25A33F_4_0.eot');src: url('/assets/webfonts/25A33F_4_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_4_0.woff') format('woff'),url('/assets/webfonts/25A33F_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Extrabld';src: url('/assets/webfonts/25A33F_5_0.eot');src: url('/assets/webfonts/25A33F_5_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_5_0.woff') format('woff'),url('/assets/webfonts/25A33F_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-SemiboldIt';src: url('/assets/webfonts/25A33F_6_0.eot');src: url('/assets/webfonts/25A33F_6_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_6_0.woff') format('woff'),url('/assets/webfonts/25A33F_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Bold';src: url('/assets/webfonts/25A33F_7_0.eot');src: url('/assets/webfonts/25A33F_7_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_7_0.woff') format('woff'),url('/assets/webfonts/25A33F_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-ThinIt';src: url('/assets/webfonts/25A33F_8_0.eot');src: url('/assets/webfonts/25A33F_8_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_8_0.woff') format('woff'),url('/assets/webfonts/25A33F_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-RegularIt';src: url('/assets/webfonts/25A33F_9_0.eot');src: url('/assets/webfonts/25A33F_9_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_9_0.woff') format('woff'),url('/assets/webfonts/25A33F_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Regular';src: url('/assets/webfonts/25A33F_A_0.eot');src: url('/assets/webfonts/25A33F_A_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_A_0.woff') format('woff'),url('/assets/webfonts/25A33F_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-LightIt';src: url('/assets/webfonts/25A33F_B_0.eot');src: url('/assets/webfonts/25A33F_B_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_B_0.woff') format('woff'),url('/assets/webfonts/25A33F_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Semibold';src: url('/assets/webfonts/25A33F_C_0.eot');src: url('/assets/webfonts/25A33F_C_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_C_0.woff') format('woff'),url('/assets/webfonts/25A33F_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-RegularIt';src: url('/assets/webfonts/25A33F_D_0.eot');src: url('/assets/webfonts/25A33F_D_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_D_0.woff') format('woff'),url('/assets/webfonts/25A33F_D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Bold';src: url('/assets/webfonts/25A33F_E_0.eot');src: url('/assets/webfonts/25A33F_E_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_E_0.woff') format('woff'),url('/assets/webfonts/25A33F_E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-BoldIt';src: url('/assets/webfonts/25A33F_F_0.eot');src: url('/assets/webfonts/25A33F_F_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_F_0.woff') format('woff'),url('/assets/webfonts/25A33F_F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Light';src: url('/assets/webfonts/25A33F_10_0.eot');src: url('/assets/webfonts/25A33F_10_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_10_0.woff') format('woff'),url('/assets/webfonts/25A33F_10_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-SemiboldIt';src: url('/assets/webfonts/25A33F_11_0.eot');src: url('/assets/webfonts/25A33F_11_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_11_0.woff') format('woff'),url('/assets/webfonts/25A33F_11_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-BlackIt';src: url('/assets/webfonts/25A33F_12_0.eot');src: url('/assets/webfonts/25A33F_12_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_12_0.woff') format('woff'),url('/assets/webfonts/25A33F_12_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Semibold';src: url('/assets/webfonts/25A33F_13_0.eot');src: url('/assets/webfonts/25A33F_13_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_13_0.woff') format('woff'),url('/assets/webfonts/25A33F_13_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-BoldIt';src: url('/assets/webfonts/25A33F_14_0.eot');src: url('/assets/webfonts/25A33F_14_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_14_0.woff') format('woff'),url('/assets/webfonts/25A33F_14_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Black';src: url('/assets/webfonts/25A33F_15_0.eot');src: url('/assets/webfonts/25A33F_15_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_15_0.woff') format('woff'),url('/assets/webfonts/25A33F_15_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Regular';src: url('/assets/webfonts/25A33F_16_0.eot');src: url('/assets/webfonts/25A33F_16_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_16_0.woff') format('woff'),url('/assets/webfonts/25A33F_16_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-LightIt';src: url('/assets/webfonts/25A33F_17_0.eot');src: url('/assets/webfonts/25A33F_17_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_17_0.woff') format('woff'),url('/assets/webfonts/25A33F_17_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-Black';src: url('/assets/webfonts/25A33F_18_0.eot');src: url('/assets/webfonts/25A33F_18_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_18_0.woff') format('woff'),url('/assets/webfonts/25A33F_18_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Light';src: url('/assets/webfonts/25A33F_19_0.eot');src: url('/assets/webfonts/25A33F_19_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_19_0.woff') format('woff'),url('/assets/webfonts/25A33F_19_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-ThinIt';src: url('/assets/webfonts/25A33F_1A_0.eot');src: url('/assets/webfonts/25A33F_1A_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1A_0.woff') format('woff'),url('/assets/webfonts/25A33F_1A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaA-BlackIt';src: url('/assets/webfonts/25A33F_1B_0.eot');src: url('/assets/webfonts/25A33F_1B_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1B_0.woff') format('woff'),url('/assets/webfonts/25A33F_1B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-ExtrabldIt';src: url('/assets/webfonts/25A33F_1C_0.eot');src: url('/assets/webfonts/25A33F_1C_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1C_0.woff') format('woff'),url('/assets/webfonts/25A33F_1C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaT-Thin';src: url('/assets/webfonts/25A33F_1D_0.eot');src: url('/assets/webfonts/25A33F_1D_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1D_0.woff') format('woff'),url('/assets/webfonts/25A33F_1D_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Extrabld';src: url('/assets/webfonts/25A33F_1E_0.eot');src: url('/assets/webfonts/25A33F_1E_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1E_0.woff') format('woff'),url('/assets/webfonts/25A33F_1E_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Black';src: url('/assets/webfonts/25A33F_1F_0.eot');src: url('/assets/webfonts/25A33F_1F_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_1F_0.woff') format('woff'),url('/assets/webfonts/25A33F_1F_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-LightIt';src: url('/assets/webfonts/25A33F_20_0.eot');src: url('/assets/webfonts/25A33F_20_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_20_0.woff') format('woff'),url('/assets/webfonts/25A33F_20_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Light';src: url('/assets/webfonts/25A33F_21_0.eot');src: url('/assets/webfonts/25A33F_21_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_21_0.woff') format('woff'),url('/assets/webfonts/25A33F_21_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-RegularIt';src: url('/assets/webfonts/25A33F_22_0.eot');src: url('/assets/webfonts/25A33F_22_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_22_0.woff') format('woff'),url('/assets/webfonts/25A33F_22_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-SemiboldIt';src: url('/assets/webfonts/25A33F_23_0.eot');src: url('/assets/webfonts/25A33F_23_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_23_0.woff') format('woff'),url('/assets/webfonts/25A33F_23_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-ThinIt';src: url('/assets/webfonts/25A33F_24_0.eot');src: url('/assets/webfonts/25A33F_24_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_24_0.woff') format('woff'),url('/assets/webfonts/25A33F_24_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Semibold';src: url('/assets/webfonts/25A33F_25_0.eot');src: url('/assets/webfonts/25A33F_25_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_25_0.woff') format('woff'),url('/assets/webfonts/25A33F_25_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-BlackIt';src: url('/assets/webfonts/25A33F_26_0.eot');src: url('/assets/webfonts/25A33F_26_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_26_0.woff') format('woff'),url('/assets/webfonts/25A33F_26_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-BoldIt';src: url('/assets/webfonts/25A33F_27_0.eot');src: url('/assets/webfonts/25A33F_27_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_27_0.woff') format('woff'),url('/assets/webfonts/25A33F_27_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Regular';src: url('/assets/webfonts/25A33F_28_0.eot');src: url('/assets/webfonts/25A33F_28_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_28_0.woff') format('woff'),url('/assets/webfonts/25A33F_28_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNova-Bold';src: url('/assets/webfonts/25A33F_29_0.eot');src: url('/assets/webfonts/25A33F_29_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/25A33F_29_0.woff') format('woff'),url('/assets/webfonts/25A33F_29_0.ttf') format('truetype');}
 
 
 */
 