<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <base href="/">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/peach.css/dist/peach.css">

    <!-- build:css({.tmp/app/serve,client/app}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body layout="column" ng-app="peachWebLogin" ng-strict-di ng-controller="LoginController as login">

    <div layout="column" layout-fill>
      <md-content layout="column" layout-fill flex>
        <div class="peach-login" flex layout="column">
          <div layout="row" layout layout-align="center center" flex>
            <div layout="column" flex>
              <div class="login-container">
                <form name="loginForm" ng-submit="login.submit(loginForm.$valid, data)">
                  <img class="logo" src="assets/img/login/logo_login_2x.png" alt="PeachWorks"/>
                  <md-input-container>
                    <label>Email</label>
                    <input name="username" ng-model="data.username" required type="email" aria-label="Email">
                  </md-input-container>
                  <md-input-container>
                    <label>Password</label>
                    <input name="password" ng-model="data.password" required type="password" aria-label="Password">
                  </md-input-container>
                  <div flex layout="row">
                    <div flex="55" layout="column">
                      <md-input-container class="checkbox-container">
                        <md-checkbox ng-model="data.remember" aria-label="Stay Logged In">Stay Logged In</md-checkbox>
                      </md-input-container>
                    </div>
                    <div flex layout="column">
                      <md-input-container>
                        <md-button class="md-raised md-primary" aria-label="Login">Login</md-button>
                      </md-input-container>
                    </div>
                  </div>
                </form>
            </div>
            </div>
          </div>
          <div class="login-footer" layout="row" layout-align="center center">
            <p><a href="#/forgotpw">Help: I'm having trouble signing in or forgot my password</a></p>
          </div>
        </div>
      </md-content>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ng-peach/dist/peach.js"></script>

    <script>
      (function() {
        angular.module('peachWebLogin', [
          'ngAnimate',
          'ngAria',
          'ngCookies',
          'ngTouch',
          'ngSanitize',
          'ngRoute',
          'ngMaterial',
          'ngPeach.ui'
        ])
          .controller('LoginController', ['$peach', '$q', '$window', '$cookieStore', LoginController]);

        function LoginController($peach, $q, $window, $cookieStore) {
          var vm = this;

          vm.submit = submit;

          if($cookieStore.get($peach.session.getDevSessionCookieName())) {
            bootstrap();
          }

          function submit(valid, data) {
            if(valid && !_.isEmpty(data)) {
              $peach.session.login(data.username, data.password).then(function(message) {
                bootstrap();

                return true;
              }, function(error) {
                this.loginError = error;
              });
            } else {
              return false;
            }
          }

          function bootstrap() {
            var promises = [];
            promises.push($peach.user.getInfo());
            //promises.push($peach.user.getAccounts()); // get v1/developers

            $q.all(promises).then(function(data) {
              //$peach.account.getInfo().then(function(account) {
                  return $window.location.href = '/accounts/1/apps/appKey/#/';
              //  }, function(error) {
              //    this.loginError = error;
              //  });
            });
          }
        }

      })();
    </script>
  </body>
</html>
