.peach-toolbar {

  .app-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px auto;
    background-size: 48px 48px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  .menu {

    .overlay {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;

      .wrapper {
        width: 175px;
        float: right;
        margin-top: 64px;
        margin-right: 100px;
        background-color: blue;

        .menu-item {

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
// injector
// endinjector
