<style>
    
    #page_frame .icon-check-circle {
        font-size: 25px;
        line-height: 25px;
        width: 25px;
        height: 25px;
    }
    
</style>

<peach-location-alert></peach-location-alert>

<peach-page-header>

    <h1>Counts</h1>

    <peach-page-header-options options="vm.headerOptions"></peach-page-header-options>

    <peach-search
        ng-model="vm.searchParams.searchQuery"
        ng-change="vm.onSearchPhraseUpdateCallback();"
        ng-disabled="vm.blockers.api_processing"
        ng-model-options="{
           updateOn: 'default blur',
           debounce: {
             'default': 500,
             'blur': 0
           }
         }">
    </peach-search>

</peach-page-header>

<peach-message ng-show="vm.userInfo.message" type="{{vm.userInfo.type}}">
    {{ vm.userInfo.message }}
</peach-message>

<peach-card loading="vm.blockers.api_processing">

    <peach-card-content>

        <md-data-table-container>

            <table md-data-table>

                <thead>
                    <tr>
                        <th style="width: 35%;" name="Count Date"></th>
                        <th style="width: 35%;" name="Count Group"></th>
                        <th style="width: 30%;" name="Status"></th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="count in vm.counts">

                        <td>

                            <a ng-click="vm.openEditCountModal(count.id);" title="View details" >
                                {{ ::count.date_formatted }}
                            </a>
                            <em ng-if="count.is_opening_count">(Starting)</em>

                        </td>

                        <td>
                            {{ ::count.count_group.name }}
                        </td>

                        <td>

                            <md-icon ng-if="count.is_complete" md-font-icon="icon-check-circle font-success" aria-label="Complete"></md-icon>

                            <span ng-if="!count.is_complete">
                                {{ ::count.status }}%
                            </span>

                        </td>

                    </tr>

                </tbody>

            </table>

        </md-data-table-container>

        <md-data-table-pagination
            ng-if="vm.pagination.total_items > vm.pagination.limit"
            md-limit="vm.pagination.limit"
            md-page="vm.pagination.page_no"
            md-total="{{vm.pagination.total_items}}"
            md-row-select="vm.paginationLimits"
            md-trigger="vm.onPaginationChangeCallback">
        </md-data-table-pagination>

    </peach-card-content>

</peach-card>