/*Styles applied to angularStrap elements*/

.am-fade{
    -webkit-animation-duration:.4s;
    animation-duration:.4s;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode:backwards;
}

.am-fade.am-fade-add,.am-fade.ng-hide-remove,.am-fade.ng-move{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}

.am-fade.am-fade-remove,.am-fade.ng-hide{
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}

.am-fade.ng-enter{
    visibility:hidden;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}

.am-fade.ng-enter.ng-enter-active{
    visibility:visible
}

.am-fade.ng-leave{
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}

@-webkit-keyframes fadeIn{
    from{
        opacity:0
    }

    to{
        opacity:1
    }
}

@keyframes fadeIn{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

@-webkit-keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}

@keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}

.modal-backdrop.am-fade {
    opacity: 0.5;

    -webkit-transition: .4s linear all;
    -moz-transition: .4s linear all;
    -ms-transition: .4s linear all;
    -o-transition: .4s linear all;
    transition: .4s linear all;
}

.modal-backdrop.am-fade.ng-enter{
    visibility:hidden;
    -webkit-animation-name:fadeBackdropIn;
    animation-name:fadeBackdropIn
}

.modal-backdrop.am-fade.ng-enter.ng-enter-active{
    visibility:visible
}

.modal-backdrop.am-fade.ng-leave{
    -webkit-animation-name:fadeBackdropOut;
    animation-name:fadeBackdropOut
}

@-webkit-keyframes fadeBackdropIn{
    from{
        opacity:0
    }

    to{
        opacity:0.5
    }
}

@keyframes fadeBackdropIn{
    from{
        opacity:0
    }
    to{
        opacity:0.5
    }
}

@-webkit-keyframes fadeBackdropOut{
    from{
        opacity:0.5
    }
    to{
        opacity:0
    }
}

@keyframes fadeBackdropOut{
    from{
        opacity:0.5
    }
    to{
        opacity:0
    }
}

.am-fade-top{
    -webkit-animation-duration:.4s;
    animation-duration: .4s;
    -webkit-animation-timing-function:ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode: backwards;
}

.am-fade-top.am-fade-top-add,
.am-fade-top.ng-hide-remove,
.am-fade-top.ng-move {
    -webkit-animation-name:fadeFromTop;
    animation-name:fadeFromTop;
}

.am-fade-top.am-fade-top-remove,.am-fade-top.ng-hide {
    -webkit-animation-name:fadeToTop;
    animation-name:fadeToTop;
}

.am-fade-top.ng-enter {
    visibility:hidden;
    -webkit-animation-name:fadeFromTop;
    animation-name:fadeFromTop;
}

.am-fade-top.ng-enter.ng-enter-active {
    visibility:visible;
}

.am-fade-top.ng-leave {
    -webkit-animation-name:fadeToTop;
    animation-name:fadeToTop;
}

@keyframes fadeFromTop {
    from {
        opacity: 0;
        -webkit-transform:translateY(-20%);
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeFromTop {
    from {
        opacity: 0;
        -webkit-transform:translateY(-20%);
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeToTop {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform:translateY(-20%);
        transform: translateY(-20%);
    }
}
@-webkit-keyframes fadeToTop {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform:translateY(-20%);
        transform: translateY(-20%);
    }
}

/*Styles applied to ng-repeat elements */
.am-row.ng-enter,
.am-row.ng-leave,
.am-row.ng-move {
    -webkit-transition: .4s linear all;
    -moz-transition: .4s linear all;
    -o-transition: .4s linear all;
    transition: .4s linear all;
}

.am-row.ng-enter,
.am-row.ng-leave.ng-leave-active {
    opacity:0;
}

.am-row.ng-enter.ng-enter-active,
.am-row.ng-leave,
.am-row.ng-move.ng-move-active{
    opacity:1;
}

.am-row.ng-move {
    opacity:0.6;
}


/*Styles applied to elements with class alert */
.am-alert.ng-hide-add,
.am-alert.ng-hide-remove {
    -webkit-transition: .4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: .4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: .4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: .4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: .4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    display:block!important;
}

.am-alert.ng-hide-add,
.am-alert.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.am-alert.ng-hide,
.am-alert.ng-hide-remove,
.am-alert.ng-hide-add.ng-hide-add-active {
    opacity:0;
}

/* Styles for disabling animation on certain element */
.am-disabled.ng-enter,
.am-disabled.ng-leave {
    --webkit-transition: none;
    transition: none;
}

.am-disabled.ng-animate {
    --webkit-transition: none;
    transition: none;
}

.am-disabled.ng-animate {
    --webkit-animation: none 0s;
    animation: none 0s;
}