#intro-container {
  background-image: url('../../../assets/img/tiles/peachworks_2x.jpg');
  justify-content: flex-start;
  align-items: center;
}

#intro-container md-whiteframe {
  background-color: #FFF;
  margin-top: 50px;
  height: 200px;
  width: 500px;
}
